<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='aboutus.css') }}"> -->
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	<link rel="stylesheet" href="aboutus.css">
</head>
<body>
	<div class="container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>About Us</h2>
        <h5>Student Dropout <span>Analysis</span></h5>
        <p>Empowering Education through Dropout Analysis</p>

        <p>Empowering Education is dedicated to tackling one of the most pressing challenges in the education sector</p>
        <p>student dropout rates. We understand that dropout rates are not merely statistics; they represent missed opportunities, unfulfilled potential, and systemic barriers that hinder educational progress. Our organization is founded on the belief that every child deserves the chance to receive a quality education and achieve their dreams.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis eius magni eum.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis eius magni eum.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis eius magni eum.</p>
		<div class="data">
            <button class="btn">Read more</button>
			
			</div>
		</div>
	</div>
</body>
</html>