<!DOCTYPE html>
<html>
<head>
    <title>Gender</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <link rel="stylesheet" href="contact.css">
    <script>
        function displayGender() {
            var selectedGender = document.querySelector('.field').value;
            alert("Selected gender: " + selectedGender);
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="contact-box">
            <div class="left"></div>
            <div class="right">
                <h2>GenderWise Analysis</h2>
                <select class="field">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
                <button class="btn" onclick="displayGender()">Send</button>
            </div>
        </div>
    </div>
</body>
</html>
