<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dropout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>

<body>
    <header>
        <div class="wrapper">
            <div class="logo">
                <img src="/img/student-high-resolution-logo-transparent.png" alt="">
            </div>
            <ul class="nav-area">
                <li><a href="#">Home</a></li>
                <li><a href="templates/aboutus.html">About</a></li>
                <li class="dropdown">
                    <a href="#">Services</a>
                    <ul class="sub-menu">
                        <li><a href="#">Castewise</a></li>
                        <li><a href="#">Agewise</a></li>
                        <li><a href="#">Schoolwise</a></li>
                    </ul>
                </li>
                <li><a href="templates/contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="welcome-text">
            <h1>
                Student DropOut Analysis
            </h1>
            <a href="#">Contact US</a>
        </div>
    </header>

    
    

</body>
</html>