<!DOCTYPE html>
<html>
<head>
	<title>Nationality</title>
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}"> -->
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	<link rel="stylesheet" href="contact.css">
</head>
<body>
	<div class="container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>NationalityWise Analysis</h2>
				<select class="field">
                    <option value="Portuguese">Portuguese</option>
                    <option value="German">German</option>
					<option value="male">Spanish</option>
                    <option value="Italian">Italian</option>
					<option value="Dutch">Dutch</option>
                    <option value="English">English</option>
					<option value="male">Male</option>
                    <option value="female">Female</option>
					<option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
				
				<button class="btn">Send</button>
			</div>
		</div>
	</div>
</body>
</html>